omi-esb-process-api-impl/src/main/mule/test-load-invoices.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="229c7d3c-fbb2-4ce9-b9dd-1ea43ae7db28" >
		<vm:queues >
			<vm:queue queueName="one-time-invoice-vm" queueType="PERSISTENT" />
			<vm:queue queueName="foreach-invoice-vm" queueType="PERSISTENT" />
		</vm:queues>
	</vm:config>
	<flow name="foreachInvoiceToVMFlow" doc:id="17d033da-81cb-409b-b544-09299b5807f0" >
		<flow-ref doc:name="getInvoiceByIdFlow" doc:id="b2169bf2-1458-4451-80ea-3a30af0aa7dd" name="getInvoiceByIdFlow" />
		<ee:transform doc:name="Transform Message" doc:id="6d876fdc-abad-4a71-bb18-53b6005f385e">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		<vm:publish queueName="foreach-invoice-vm" doc:name="Publish" doc:id="3568f4bf-ee54-4e7b-bb08-c12d3de00d57" config-ref="VM_Config" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a4bffa72-e221-400d-86f8-5f435b7f9b3e" >
				<ee:transform doc:name="Transform Message" doc:id="b8ae9166-0e41-4f88-943a-d1803eb76c25">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"emailBody": p('secure::invoice.body') ++ ":" ++ error.description,
	"subject": upper(p('mule.env')) ++ ": " ++ p('secure::invoice.subject'),
	"toEmails": p('secure::invoice.to.emailList')
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="send-email-notificationFlow" doc:id="033da79c-2574-4050-97b1-1c9dd0655948" name="send-email-notificationFlow"/>

			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="loadInvoicesFlow" doc:id="9d9165c9-b865-4883-897c-98eed662a911" >
		<http:listener doc:name="Listener" doc:id="7049acda-f3d1-4806-bae5-34c8cade1e09" config-ref="omi-esb-process-api-httpListenerConfig" path="/loadInvoices"/>
		<ee:transform doc:name="Transform Message" doc:id="343dc236-dc12-4e1f-8b4d-ea4a6d170394" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload  map {
	internalId: $
}]]></ee:set-payload>

			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="de326a04-9454-497f-8464-4363513b2edc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Arrays
output application/java
---
payload divideBy 50]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<vm:publish doc:name="Publish" doc:id="8b6f7449-64ae-4e1f-8311-711916bbf3a7" config-ref="VM_Config" queueName="one-time-invoice-vm"/>
		<ee:transform doc:name="Transform Message" doc:id="040ec570-eecf-4def-8383-d951b81defec" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"success":"true"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="56ed7a59-caef-4a59-af48-68a133f2cba8" >
				<ee:transform doc:name="Transform Message" doc:id="caad049d-7c48-4241-b82e-280682578aa5">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"emailBody": p('secure::invoice.body') ++ ": " ++ error.description,
	"subject": upper(p('mule.env')) ++ ": " ++ p('secure::invoice.subject'),
	"toEmails": p('secure::invoice.to.emailList')
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="send-email-notificationFlow" doc:id="fddb4bf3-ea79-4a17-b9d9-07c993917950" name="send-email-notificationFlow"/>

			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="foreachprocessInvoiceFlow" doc:id="9b433d5d-395b-4308-9dca-77083585caa4" >
		<vm:listener queueName="one-time-invoice-vm" doc:name="Listener" doc:id="4be33b2b-abd2-4215-8438-f50d0834d79b" config-ref="VM_Config"/>
		<logger level="DEBUG" doc:name="Logger" doc:id="52013ca6-fc20-4285-9ca6-dfac763c4a9f" message="payload = #[payload]"/>
		<foreach doc:name="For Each" doc:id="afad8f54-2993-4536-8921-1b54ade7d59e">
			<flow-ref doc:name="foreachInvoiceToVMFlow" doc:id="28a72753-926d-4147-8429-e53f86c01bf3" name="foreachInvoiceToVMFlow" />
					</foreach>
			<logger level="INFO" doc:name="Logger" doc:id="fffb6c2d-2540-40c8-97d2-df5aaca8c90f" message="invoice load is completed."/>
		
					<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="dfdfa375-8482-4b5e-98f4-2372964b915e" >
				<ee:transform doc:name="Transform Message" doc:id="1c1fa7f1-0177-4045-8f79-cc45932f7171">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"emailBody": p('secure::invoice.body') ++ ": " ++ error.description,
	"subject": upper(p('mule.env')) ++ ": " ++ p('secure::invoice.subject'),
	"toEmails": p('secure::invoice.to.emailList')
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="send-email-notificationFlow" doc:id="d8c984e0-8bbe-4f97-a7ee-7849a88ab2b3" name="send-email-notificationFlow"/>

			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="test-load-invoicesFlow" doc:id="dc26107f-734d-4c57-b257-2cd2393f9e8a" >
		<vm:listener queueName="foreach-invoice-vm" doc:name="Listener" doc:id="5e11640f-6946-4ee8-8f10-b686b7836df0" config-ref="VM_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="903ab486-d471-4796-a667-8f000be3ad08">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="3ac785c5-ce90-4395-9e05-563482e087a3">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="transactionStats"><![CDATA[%dw 2.0
output application/json
---
{
	total: payload.*nsInternalId,
	success: [],
	fail: []
}]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		<foreach doc:name="For Each" doc:id="b2c5e84d-1f03-4f85-bf4d-26e7023ea89f">
			<set-variable value="#[payload.nsInternalId]" doc:name="Set internalId" doc:id="90b8f9aa-1c69-444b-a718-8710b1eb40f3" variableName="internalId" />
			<set-variable value="#[payload.nsInvoiceNum]" doc:name="Set invoiceNum" doc:id="1b16e1c9-e57b-4951-886b-1139e0788bcc" variableName="invoiceNum" />
					<flow-ref name="foreachInvoiceSyncFlow" doc:name="foreachInvoiceSyncFlow" />								
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="290f54a2-235d-4669-a64c-9f6da5e2c6e9" message="transactionStats = #[vars.transactionStats]" />
				<choice doc:name="Choice" doc:id="d4d32a9d-3752-4594-ac66-cc7040268768">
					<when expression="#[sizeOf(vars.transactionStats.fail) &gt; 0]">
				<logger level="INFO" doc:name="Logger" doc:id="d2757279-c493-4123-ab6b-a13f7dc6284a" message="Errored Invoice InternalIds = #[vars.transactionStats.fail]" />
				<ee:transform doc:name="Transform Message" doc:id="69e250b8-ec64-4279-91b0-13ea2e7624ff">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"emailBody": p('secure::invoice.body') ++ write(vars.transactionStats.fail,'application/json'),
	"subject": upper(p('mule.env')) ++ ": " ++ p('secure::invoice.subject'),
	"toEmails": p('secure::invoice.to.emailList')
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="send-email-notificationFlow" doc:id="8997cf78-549a-42df-b8f4-736d3e826aea" name="send-email-notificationFlow" />
			</when>
					<otherwise>
						<logger level="DEBUG" doc:name="Invoice NetSuite to SFDC Migration process has been finished!" doc:id="1a3254a9-ae59-460f-9920-d99cb6374524" message="Invoice NetSuite to SFDC Migration process has been finished" />
					</otherwise>
				</choice>
		
		

	</flow>
	
	
	
	</mule>
